<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <appSettings>
    <add key="System ID" value=""/>
    <add key="System Password" value=""/>
    <add key="Web Service Host" value="demo.movilizer.com"/>
    <add key="Web Service Protocol" value="https"/>
    
    <add key="Database Driver" value=""/>
    <add key="Database Password" value=""/>
    <add key="Database Path" value=""/>
    <add key="Database User" value=""/>
    <add key="Database Parameters" value=""/>
  
    <add key="Debug Output Path" value=""/>
    <add key="Service Time Interval" value="5000"/>
  </appSettings>
</configuration>