<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MovilizerWebServiceV14Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="MovilizerWebServiceV14Soap111" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://movilizer.com/MovilizerDistributionService/WebService/"
                binding="basicHttpBinding" bindingConfiguration="MovilizerWebServiceV14Soap11"
                contract="Movilizer.MovilizerWebServiceV14" name="MovilizerWebServiceV14Soap11" />
        </client>
    </system.serviceModel>
</configuration>